@media print {
  @page {
	margin: 0;
	size: auto;
  }
  body {
	margin: 1.6cm;
  }
  .noprint {
	display: none;
  }
  .base {
  width: 100%;
  background: white;
  }
  .pagebreak {
    page-break-after: always;
}
}