.news { /**/
	margin-bottom: 20px;
}

.main-news, .date-title {/**/ /**/
    display: flex;
}

.main-news {/**/
	border: 1px solid #000;
}

.parent-flap, .parent-date {/**/
	display: grid;
	grid-template-columns: 35px 1fr 35px;
	background-image: url('img/topFlap.jpg');
	background-size: auto;
	background-repeat: repeat;
}

.parent-flap {/**/
	width: 100%;
}

.parent-date{/**/
	width: 170px;
}

.child-date {/**/
	width: 100px;
}

.child {/**/
	background-image: url('../img/topFlap.jpg');
	background-size: auto;
	background-repeat: repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.first, .third {/**/
	height: 35px;
}

.first {/**/
	background-image: url('../img/leftFlap.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.third {/**/
	background-image: url('../img/rightFlap.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.newsImg {/**/
	width: 170px;
	border-right: 1px solid #000;
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 10px;
}

.content-news {
	padding-left: 10px;
}